* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#app {
  min-height: 100%;
  /* display: flex; */
}

body {
  font-family:
    'Inter',
    -apple-system,
    sans-serif;
  line-height: 1.5;
}
